

<div>

    <!-- admin details -->

    <div class="profile">

        <img width="240px" height="240px" src="https://w1.pngwing.com/pngs/743/500/png-transparent-circle-silhouette-logo-user-user-profile-green-facial-expression-nose-cartoon.png" alt="no image">

        <h3>Admin</h3>

        <h4>Admin123@gmail.com</h4>


    </div>

    <mat-divider></mat-divider>


    <!-- pages -->

    <h2>Pages</h2>

    <div class="pages">

        <a routerLink="">Dashboard</a>
        <a routerLink="employee">Employees</a>
        <a routerLink="gallery">Gallery</a>

        <mat-divider></mat-divider>


        <!--tools  -->

        <h2>Tools</h2>

        <div class="pages">

            <a href=""><mat-icon>contacts</mat-icon>Contact</a>
            <a href=""><mat-icon>leaderboard</mat-icon>Leads</a>


        </div>




    </div>



</div>
